@import 'home';
@import 'categories';
@import 'pages';
@import 'contact';
@import 'footer';
@import 'header';
@import 'casestudy';

body, #app, #app-container {
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #F8F8F8;
}

button {
    background-color: #203DBD;
    color: white;
    font-size: 15px !important;
    width: 148px;
    cursor: pointer;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

a:hover, a:visited, a:focus {
    text-decoration: none !important;
}