@mixin boxStyles {
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px #A8A8A8;
    margin: 30px 30px;
    max-width: 300px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-color: #F8F8F8;
    font-size: 20px;

    .task-title {
        color: #3B78FF;
        font-weight: 600;
    }

    .task-content {
        color: #A8A8A8;
        font-weight: 300;
    }

    button > a {
        color: white;
    }
}

#categories-container {
    @media (min-width:1024px) {
        position: relative;
        bottom: 100px;
    }
    .row {
        width: 90%;
        margin: auto;

        .col-12 {
            @include boxStyles;

            img {
                width: 100px;
                height: 100px;
            }
        }
    }
}