@import 'common';
#categories-container {
    @media (min-width:1024px) {
        position: relative;
        bottom: 100px;
    }
    .row {
        @media (max-width:1024px) {
            padding: 0 35px;
        }
    
        @media (min-width:1024px) {
            padding: 0 70px;
        }

        .col-12 {
            @include boxStyles;
            img {
                width: 100px;
                height: 100px;
            }
        }
    }
}