@import 'common';
#categories-container {
    @media (min-width:1024px) {
        position: relative;
        bottom: 100px;
    }
    .row {
        width: 90%;
        margin: auto;

        .col-12 {
            @include boxStyles;
            img {
                width: 100px;
                height: 100px;
            }
        }
    }
}