// Mixin for categories box
@mixin boxStyles {
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px #A8A8A8;
    margin: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-color: #F8F8F8;
    font-size: 20px;
    
    @media (max-width:370px) {
        max-width: 240px;
        min-width: 240px;
    }

    @media (min-width:370px) {
        max-width: 285px;
        min-width: 285px;
    }

    .task-title {
        color: #3B78FF;
        font-weight: 600;
    }

    .task-content {
        color: #A8A8A8;
        font-weight: 300;
    }

    button > a {
        color: white;
    }
}

// Mixins for content
@mixin content-title-lg {
    font-size: 35px;
    color: #203DBD;
}

@mixin content-description-lg {
    font-size: 25px;
    color: #787878;
    line-height: 2;
    font-weight: 300;
    > div {
        padding: 15px 0 0 0;
    }
}

@mixin content-title-md {
    font-size: 30px;
    color: #203DBD;
}

@mixin content-description-md {
    font-size: 20px;
    color: #787878;
    line-height: 1.5;
    font-weight: 300;
    > div {
        padding: 15px  0 0 0;
    }
}

@mixin parentContainerPadding {
    @media (max-width:1024px) {
        padding: 35px;
    }

    @media (min-width:1024px) {
        padding: 35px 70px;
    }
}

// max height for images
@mixin imageMaxHeight {
    max-height: 500px;
}

// Mixin for case study content without grid
@mixin caseStudyContent {
    color: white;
    padding: 15px;
    

    @media (max-width:768px) {
        .title {
            @include content-title-md;
        }

        .description {
            @include content-description-md;
        }
    }

    @media (min-width:768px) {
        .title {
            @include content-title-lg;
        }

        .description {
            @include content-description-lg;
        }
    }
}

// Mixin for casestudy content with grid
@mixin imageDescBox {
    .image-desc-box {
        background-color: #F8F8F8;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;

        .casestudy-content-1 {
            grid-area: content-1;
            @include caseStudyContent;
            padding-bottom: 0;
        }

        .casestudy-content-2 {
            grid-area: content-2;
            @include caseStudyContent;
        }

        .casestudy-box-image {
            grid-area: image;
            img {
                max-width: 100%;
                @include imageMaxHeight;
            }
        }

        @media (min-width:768px) {
            grid-template-rows: repeat(2,minmax(0,auto));
            grid-template-areas: 
            "image image content-1 content-1"
            "content-2 content-2 content-2 content-2"
        };
        
        @media (max-width:768px) {
            grid-template-rows: repeat(3,minmax(0,auto));
            grid-template-areas: 
            "image image image image"
            "content-1 content-1 content-1 content-1"
            "content-2 content-2 content-2 content-2"
        };
    }
}