#header {
    display: grid;
    grid-template-columns: repeat(1,50%);
    background-color: #3B78FF;
    color: white;

    @media (min-width: 760px) {
        justify-content: space-around;

        img {
            grid-area: image;
            width: 200px;
            height: 26px;
            margin: 25px 25px;
        }

        > button {
            display: none;
        }

        #navigation {
            margin: 25px 0;
            > li {
                display: inline;
            }
            > * {
                padding: 25px;         
            }
        }

        grid-template-areas: 
            "image navigation";
    }

    @media (max-width: 760px) {
        align-items: center;
        justify-content: space-between;
        padding: 0 35px;

        img {
            grid-area: image;
            width: 200px;
            height: 26px;
            margin: 25px 0;
        }

        .hide {
            display: none;
        }

        > button {
            display: block;
        }

        grid-template-areas: 
        "image button"
        "navigation navigation";
    }

    #navigation {
        grid-area: navigation;
        list-style: none;
        padding: 0;

        * {
            cursor: pointer;
        }

        a {
            color: #FFF;
        }
    }

    button {
        grid-area: button;
        background-color: #3B78FF;
        border-color: #FFF;
        width: 45px;
        height: 34px;
    }
}