#header {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    background-color: #3B78FF;
    color: white;

    img {
        grid-area: image;
        width: 200px;
        height: 26px;
        margin: 25px 0;
    }

    #navigation {
        display: flex;
        justify-content: space-between;

        * {
            cursor: pointer;
        }
        > * {
            padding: 25px;         
        }

        a {
            color: #FFF;
        }
    }

    @media (min-width: 768px) {
        justify-content: space-around;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
}