@import 'common';

#header {
    display: grid;
    grid-template-columns: repeat(1,50%);
    background-color: #3B78FF;
    color: white;
    align-items: center;
    justify-content: space-between;

    img {
        grid-area: image;
        width: 150px;
        margin: 25px 0;
    }

    #navigation {
        grid-area: navigation;
        list-style: none;
        padding: 0;

        * {
            cursor: pointer;
        }

        a {
            color: #FFF;
        }
    }

    button {
        grid-area: button;
        background-color: #3B78FF;
        border-color: #FFF;
        width: 45px;
        height: 34px;
    }

    @media (max-width:1024px) {
        padding: 0 35px;
    }

    @media (min-width:1024px) {
        padding: 0 90px;
    }

    @media (min-width: 900px) {
        > button {
            display: none;
        }

        #navigation {
            margin: 25px 0;
            > li {
                display: inline;
            }
            > * {
                padding: 25px 0 25px 50px;         
            }

            #expertise {
                position: relative;
                #expertise-list {
                    position: absolute;
                    top: 100%;
                    left: 12px;
                    list-style: none;
                    width: 225px;
                    display: none;
                    z-index: 1;
                    border-radius: 4px;
                    background-color: #203DBD;
                    padding: 0;
    
                    > li {
                        padding: 5px 0 5px 40px;
                        &:hover {
                            background: rgba(44, 64, 168, 0.9);
                        }
                    }
                }
                &:hover {
                    #expertise-list {
                        display: block;
                    }
                }
            }
        }

        grid-template-areas: 
            "image navigation";
    }

    @media (max-width: 900px) {
        align-items: center;
        padding: 0 35px;

        .hide {
            display: none;
        }

        > button {
            display: block;
        }

        #navigation {
            position: absolute;
            background-color: #203DBD;
            border-radius: 4px;
            width: 100%;
            > li {
                padding: 5px 0;
                > a {
                    padding: 0 10px;
                }
            }

            #expertise {
                #expertise-list {
                    background: rgba(44, 64, 186, 0.9);
                    list-style: none;
                    padding: 0;
                    > li {
                        padding: 5px 0;
                        > a {
                            padding: 0 20px;
                        }
                    }
                }
                .hide {
                    height: 0;
                    transition: height 1s ease;
                }
                
                .show {
                    height: 100%;
                }
            }
        }

        grid-template-areas: 
        "image button"
        "navigation navigation";
    }
}