#home-container {
    min-height: 100vh;
    background-color: #0092FF !important;
    background-color: #FFF;
    margin: 7px auto;
    width: 95%;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;

    .row {
        position: relative;
        top: 10%;
        padding: 0 20px;

        >div {
            border-radius: 15px;
            margin-bottom: 20px;
        }
    }

    #left-box {
        background-color: #54B5FF;
        padding: 40px;
        min-height: 500px;

        >.child {
            height: 100%;
            background-color: #FFF;
            font-size: 54px;
            font-weight: 500;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;

            span:nth-of-type(1) {
                font-size: 20px;
                font-weight: 500;
            }

            span:nth-of-type(2) {
                font-weight: 700
            }

        }
    }

    #right-box {
        text-align: center;
        display: flex;
        flex-direction: column;
        background-color: #FFF;
        align-items: center;
        justify-content: space-around;
        font-size: 23px;

        >img {
            height: 140px;
            width: 140px;
        }

        b {
            font-size: 30px;
        }
    }

    #scroll-down {
        cursor: pointer;
        position: absolute;
        display: inline-block;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
    }

    img { 
        z-index: 1;
        position: relative;
    }
}

