#home-container {
    background-color: #3B78FF;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;

    @media (max-width:1024px) {
        padding: 35px;
    }

    @media (min-width:1024px) {
        padding: 35px 70px;
    }

    #home-content {
        text-align: center;
        color: white;
        grid-area: content;

        button {
            background-color: #203DBD;
            color: white;
        }

        @media (max-width:760px) {
            div:nth-child(1) {
                font-size: 35px;
                font-weight: 600;
            }
    
            div:nth-child(2) {
                font-size: 25px;
                line-height: 3;
            }
        }

        @media (min-width:760px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            div:nth-child(1) {
                font-size: 55px;
                font-weight: 600;
            }
    
            div:nth-child(2) {
                font-size: 30px;
                line-height: 4;
                font-weight: 300;
            }
        }
    }
    .image {
        grid-area: image;
        img {
            max-width: 100%;
        }
    }

    @media (min-width:768px) {
        grid-template-rows: minmax(0,auto);;
        grid-template-areas: 
        "content content image image"
        "content content image image"
    };
    
    @media (max-width:768px) {
        text-align: center;
        grid-template-rows: repeat(2,minmax(0,auto));
        grid-template-areas: 
        "image image image image"
        "content content content content"
    };
}
